<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
    <siteMapNode SystemName="Home" SSOAResource="Admin.Home" controller="Home" action="Overview">
        <siteMapNode SystemName="Dashboard" SSOAResource="Admin.Dashboard" controller="Home" action="Index" ImageUrl="~/Administration/Content/images/ico-dashboard.png" />
        <siteMapNode SystemName="Catalog" SSOAResource="Admin.Catalog" PermissionNames="ManageProducts,ManageCategories,ManageManufacturers,ManageProductReviews,ManageProductTags,ManageAttributes" ImageUrl="~/Administration/Content/images/ico-catalog.png" >
            <siteMapNode SystemName="Categories" SSOAResource="Admin.Catalog.Categories" PermissionNames="ManageCategories" >
                <siteMapNode SystemName="List" SSOAResource="Admin.Common.List" controller="Category" action="List"/>
                <siteMapNode SystemName="Tree view" SSOAResource="Admin.Common.Treeview" controller="Category" action="Tree"/>
            </siteMapNode>
            <siteMapNode SystemName="Manufacturers" SSOAResource="Admin.Catalog.Manufacturers" PermissionNames="ManageManufacturers" controller="Manufacturer" action="List"/>
            <siteMapNode SystemName="Products" SSOAResource="Admin.Catalog.Products" PermissionNames="ManageProducts,ManageProductReviews,ManageProductTags" >
              <siteMapNode SystemName="Manage products" SSOAResource="Admin.Catalog.Products.Manage" PermissionNames="ManageProducts" controller="Product" action="List"/>
				      <siteMapNode SystemName="Bulk edit products" SSOAResource="Admin.Catalog.BulkEdit" PermissionNames="ManageProducts" controller="Product" action="BulkEdit"/>
              <siteMapNode SystemName="Product reviews" SSOAResource="Admin.Catalog.ProductReviews" PermissionNames="ManageProductReviews" controller="ProductReview" action="List"/>
              <siteMapNode SystemName="Product tags" SSOAResource="Admin.Catalog.ProductTags" PermissionNames="ManageProductTags" controller="Product" action="ProductTags"/>
              <siteMapNode SystemName="Low stock report" SSOAResource="Admin.Catalog.LowStockReport" PermissionNames="ManageProducts" controller="Product" action="LowStockReport"/>
            </siteMapNode>
            <siteMapNode SystemName="Attributes" SSOAResource="Admin.Catalog.Attributes" PermissionNames="ManageAttributes">
              <siteMapNode SystemName="Products attributes" SSOAResource="Admin.Catalog.Attributes.ProductAttributes" controller="ProductAttribute" action="List"/>
              <siteMapNode SystemName="Specification attributes" SSOAResource="Admin.Catalog.Attributes.SpecificationAttributes" controller="SpecificationAttribute" action="List"/>
              <siteMapNode SystemName="Checkout attributes" SSOAResource="Admin.Catalog.Attributes.CheckoutAttributes" controller="CheckoutAttribute" action="List"/>
            </siteMapNode>
        </siteMapNode>
        <siteMapNode SystemName="Sales" SSOAResource="Admin.Sales" PermissionNames="ManageOrders,ManageRecurringPayments,ManageReturnRequests,ManageGiftCards,ManageCurrentCarts,OrderCountryReport" ImageUrl="~/Administration/Content/images/ico-sales.png">
          <siteMapNode SystemName="Orders" SSOAResource="Admin.Orders" PermissionNames="ManageOrders" controller="Order" action="List" />
          <siteMapNode SystemName="Shipments" SSOAResource="Admin.Orders.Shipments.List" PermissionNames="ManageOrders" controller="Order" action="ShipmentList" />
          <siteMapNode SystemName="Recurring payments" SSOAResource="Admin.RecurringPayments" PermissionNames="ManageRecurringPayments" controller="RecurringPayment" action="List" />
          <siteMapNode SystemName="Return requests" SSOAResource="Admin.ReturnRequests" PermissionNames="ManageReturnRequests" controller="ReturnRequest" action="List" />
          <siteMapNode SystemName="Gift cards" SSOAResource="Admin.GiftCards" PermissionNames="ManageGiftCards" controller="GiftCard" action="List" />
          <siteMapNode SystemName="Current shopping carts" SSOAResource="Admin.CurrentCarts" PermissionNames="ManageCurrentCarts" controller="ShoppingCart" action="CurrentCarts" />
		      <siteMapNode SystemName="Current wishlists" SSOAResource="Admin.CurrentWishlists" PermissionNames="ManageCurrentCarts" controller="ShoppingCart" action="CurrentWishlists" />
          <siteMapNode SystemName="Bestsellers" SSOAResource="Admin.SalesReport.Bestsellers" PermissionNames="ManageOrders" controller="Order" action="BestsellersReport" />
		      <siteMapNode SystemName="Products never purchased" SSOAResource="Admin.SalesReport.NeverSold" PermissionNames="ManageOrders" controller="Order" action="NeverSoldReport" />
          <siteMapNode SystemName="Country report" SSOAResource="Admin.SalesReport.Country" PermissionNames="OrderCountryReport" controller="Order" action="CountryReport" />
        </siteMapNode>
        <siteMapNode SystemName="Customers" SSOAResource="Admin.Customers" PermissionNames="ManageCustomers, ManageVendors" ImageUrl="~/Administration/Content/images/ico-customers.png" >
          <siteMapNode SystemName="Customers" SSOAResource="Admin.Customers.Customers" PermissionNames="ManageCustomers" controller="Customer" action="List" />
          <siteMapNode SystemName="Customer roles" SSOAResource="Admin.Customers.CustomerRoles" PermissionNames="ManageCustomers" controller="CustomerRole" action="List" />
          <siteMapNode SystemName="Online customers" SSOAResource="Admin.Customers.OnlineCustomers" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List" />
          <siteMapNode SystemName="Customer reports" SSOAResource="Admin.Customers.Reports" PermissionNames="ManageCustomers" controller="Customer" action="Reports" />
          <siteMapNode SystemName="Vendors" SSOAResource="Admin.Vendors" PermissionNames="ManageVendors" controller="Vendor" action="List" />
        </siteMapNode>
        <siteMapNode SystemName="Promotions" SSOAResource="Admin.Promotions" PermissionNames="ManageAffiliates, ManageNewsletterSubscribers, ManageCampaigns, ManageDiscounts" ImageUrl="~/Administration/Content/images/ico-promotions.png">
          <siteMapNode SystemName="Affiliates" SSOAResource="Admin.Affiliates" PermissionNames="ManageAffiliates" controller="Affiliate" action="List" />
          <siteMapNode SystemName="Newsletter subscriptions" SSOAResource="Admin.Promotions.NewsletterSubscriptions" PermissionNames="ManageNewsletterSubscribers" controller="NewsLetterSubscription" action="List" />
          <siteMapNode SystemName="Campaigns" SSOAResource="Admin.Promotions.Campaigns" PermissionNames="ManageCampaigns" controller="Campaign" action="List" />
          <siteMapNode SystemName="Discounts" SSOAResource="Admin.Promotions.Discounts" PermissionNames="ManageDiscounts" controller="Discount" action="List" />
        </siteMapNode>
        <siteMapNode SystemName="Content&#160;Management" SSOAResource="Admin.ContentManagement" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManageWidgets, ManageTopics, ManageForums, ManageMessageTemplates" ImageUrl="~/Administration/Content/images/ico-content.png">
          <siteMapNode SystemName="Polls" SSOAResource="Admin.ContentManagement.Polls" PermissionNames="ManagePolls" controller="Poll" action="List" />
          <siteMapNode SystemName="News" SSOAResource="Admin.ContentManagement.News" PermissionNames="ManageNews">
            <siteMapNode SystemName="News items" SSOAResource="Admin.ContentManagement.News.NewsItems" controller="News" action="List" />
            <siteMapNode SystemName="News comments" SSOAResource="Admin.ContentManagement.News.Comments" controller="News" action="Comments"/>
          </siteMapNode>
          <siteMapNode SystemName="Blog" SSOAResource="Admin.ContentManagement.Blog" PermissionNames="ManageBlog">
            <siteMapNode SystemName="Blog posts" SSOAResource="Admin.ContentManagement.Blog.BlogPosts" controller="Blog" action="List" />
            <siteMapNode SystemName="Blog comments" SSOAResource="Admin.ContentManagement.Blog.Comments" controller="Blog" action="Comments"/>
          </siteMapNode>
          <siteMapNode SystemName="Widgets" SSOAResource="Admin.ContentManagement.Widgets" PermissionNames="ManageWidgets" controller="Widget" action="List" />
          <siteMapNode SystemName="Topics" SSOAResource="Admin.ContentManagement.Topics" PermissionNames="ManageTopics" controller="Topic" action="List" />
          <siteMapNode SystemName="Manage forums" SSOAResource="Admin.ContentManagement.Forums" PermissionNames="ManageForums" controller="Forum" action="List" />
          <siteMapNode SystemName="Message templates" SSOAResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List" />
        </siteMapNode>
        <siteMapNode SystemName="Configuration" SSOAResource="Admin.Configuration" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageMeasures,ManageActivityLog,ManageACL,ManageEmailAccounts,ManagePlugins" 
					 ImageUrl="~/Administration/Content/images/ico-configuration.png">
          <siteMapNode SystemName="Settings" SSOAResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" >
            <siteMapNode SystemName="General and common settings" SSOAResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon"/>
            <siteMapNode SystemName="Catalog settings" SSOAResource="Admin.Configuration.Settings.Catalog" controller="Setting" action="Catalog"/>
            <siteMapNode SystemName="Customer and user settings" SSOAResource="Admin.Configuration.Settings.CustomerUser" controller="Setting" action="CustomerUser" />
            <siteMapNode SystemName="Shopping cart settings" SSOAResource="Admin.Configuration.Settings.ShoppingCart" controller="Setting" action="ShoppingCart"/>
            <siteMapNode SystemName="Order settings" SSOAResource="Admin.Configuration.Settings.Order" controller="Setting" action="Order"/>
            <siteMapNode SystemName="Media settings" SSOAResource="Admin.Configuration.Settings.Media" controller="Setting" action="Media" />
            <siteMapNode SystemName="Tax settings" SSOAResource="Admin.Configuration.Settings.Tax" controller="Setting" action="Tax"/>
            <siteMapNode SystemName="Shipping settings" SSOAResource="Admin.Configuration.Settings.Shipping" controller="Setting" action="Shipping"/>
            <siteMapNode SystemName="Reward points" SSOAResource="Admin.Configuration.Settings.RewardPoints" controller="Setting" action="RewardPoints"/>
            <siteMapNode SystemName="Blog settings" SSOAResource="Admin.Configuration.Settings.Blog" controller="Setting" action="Blog" />
            <siteMapNode SystemName="News settings" SSOAResource="Admin.Configuration.Settings.News" controller="Setting" action="News" />
            <siteMapNode SystemName="Forums settings" SSOAResource="Admin.Configuration.Settings.Forums" controller="Setting" action="Forum" />
            <siteMapNode SystemName="Vendor settings" SSOAResource="Admin.Configuration.Settings.Vendor" controller="Setting" action="Vendor" />
            <siteMapNode SystemName="All settings (settings)" SSOAResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings"/>
          </siteMapNode>
          <siteMapNode SystemName="Stores" SSOAResource="Admin.Configuration.Stores" PermissionNames="ManageStores" controller="Store" action="List"/>
          <siteMapNode SystemName="Countries" SSOAResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List"/>
          <siteMapNode SystemName="Languages" SSOAResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List"/>
          <siteMapNode SystemName="Currencies" SSOAResource="Admin.Configuration.Currencies" PermissionNames="ManageCurrencies" controller="Currency" action="List"/>
          <siteMapNode SystemName="Measures" SSOAResource="Admin.Configuration.Measures" PermissionNames="ManageMeasures">
            <siteMapNode SystemName="Weights" SSOAResource="Admin.Configuration.Measures.Weights" controller="Measure" action="Weights"/>
            <siteMapNode SystemName="Dimensions" SSOAResource="Admin.Configuration.Measures.Dimensions" controller="Measure" action="Dimensions"/>
          </siteMapNode>
          <siteMapNode SystemName="EmailAccounts" SSOAResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List"/>
          <siteMapNode SystemName="Payment" SSOAResource="Admin.Configuration.Payment" PermissionNames="ManagePaymentMethods">
            <siteMapNode SystemName="Payment methods" SSOAResource="Admin.Configuration.Payment.Methods" PermissionNames="ManagePaymentMethods" controller="Payment" action="Methods"/>
            <siteMapNode SystemName="Payment method restrictions" SSOAResource="Admin.Configuration.Payment.MethodRestrictions" PermissionNames="ManagePaymentMethods" controller="Payment" action="MethodRestrictions"/>
          </siteMapNode>
          <siteMapNode SystemName="Tax" SSOAResource="Admin.Configuration.Tax" PermissionNames="ManageTaxSettings">
            <siteMapNode SystemName="Tax providers" SSOAResource="Admin.Configuration.Tax.Providers" controller="Tax" action="Providers"/>
            <siteMapNode SystemName="Tax categories" SSOAResource="Admin.Configuration.Tax.Categories" controller="Tax" action="Categories"/>
          </siteMapNode>
          <siteMapNode SystemName="Shipping" SSOAResource="Admin.Configuration.Shipping" PermissionNames="ManageShippingSettings">
            <siteMapNode SystemName="Shipping methods" SSOAResource="Admin.Configuration.Shipping.Methods" controller="Shipping" action="Methods"/>
            <siteMapNode SystemName="Shipping method restrictions" SSOAResource="Admin.Configuration.Shipping.Restrictions" controller="Shipping" action="Restrictions"/>
            <siteMapNode SystemName="Shipping providers" SSOAResource="Admin.Configuration.Shipping.Providers" controller="Shipping" action="Providers"/>
            <siteMapNode SystemName="Delivery dates" SSOAResource="Admin.Configuration.Shipping.DeliveryDates" controller="Shipping" action="DeliveryDates"/>
            <siteMapNode SystemName="Warehouses" SSOAResource="Admin.Configuration.Shipping.Warehouses" controller="Shipping" action="Warehouses"/>
          </siteMapNode>
          <siteMapNode SystemName="Activity Log" SSOAResource="Admin.Configuration.ActivityLog" PermissionNames="ManageActivityLog">
            <siteMapNode SystemName="Activity Types" SSOAResource="Admin.Configuration.ActivityLog.ActivityLogType" controller="ActivityLog" action="ListTypes"/>
            <siteMapNode SystemName="Activity Log" SSOAResource="Admin.Configuration.ActivityLog.ActivityLog" controller="ActivityLog" action="ListLogs"/>
          </siteMapNode>
          <siteMapNode SystemName="Access control list" SSOAResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" />
          <siteMapNode SystemName="External authentication methods" SSOAResource="Admin.Configuration.ExternalAuthenticationMethods" PermissionNames="ManageExternalAuthenticationMethods" controller="ExternalAuthentication" action="Methods"/>
          <siteMapNode SystemName="Plugins" SSOAResource="Admin.Configuration.Plugins" PermissionNames="ManagePlugins">
              <siteMapNode SystemName="Local plugins" SSOAResource="Admin.Configuration.Plugins.Local" PermissionNames="ManagePlugins" controller="Plugin" action="List"/>
              <siteMapNode SystemName="All plugins and themes catalog" SSOAResource="Admin.Configuration.Plugins.OfficialFeed" PermissionNames="ManagePlugins" controller="Plugin" action="OfficialFeed"/>
          </siteMapNode>
        </siteMapNode>
        <siteMapNode SystemName="System" SSOAResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" ImageUrl="~/Administration/Content/images/ico-system.png">
            <siteMapNode SystemName="Log" SSOAResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List" />
            <siteMapNode SystemName="Queued emails" SSOAResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List" />
            <siteMapNode SystemName="Maintenance" SSOAResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance" />
            <siteMapNode SystemName="Schedule tasks" SSOAResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List" />
            <siteMapNode SystemName="Warnings" SSOAResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings" />
            <siteMapNode SystemName="System information" SSOAResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo" />
            <siteMapNode SystemName="Search engine friendly names" SSOAResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames" />
            <siteMapNode SystemName="Templates" SSOAResource="Admin.System.Templates" PermissionNames="ManageMaintenance">
              <siteMapNode SystemName="Category templates" SSOAResource="Admin.System.Templates.Category" controller="Template" action="CategoryTemplates"/>
              <siteMapNode SystemName="Manufacturer templates" SSOAResource="Admin.System.Templates.Manufacturer" controller="Template" action="ManufacturerTemplates"/>
              <siteMapNode SystemName="Product templates" SSOAResource="Admin.System.Templates.Product" controller="Template" action="ProductTemplates"/>
              <siteMapNode SystemName="Topic templates" SSOAResource="Admin.System.Templates.Topic" controller="Template" action="TopicTemplates"/>
            </siteMapNode>
        </siteMapNode>
        <siteMapNode SystemName="Help" SSOAResource="Admin.Help" ImageUrl="~/Administration/Content/images/ico-help.png">
          <siteMapNode SystemName="Help topics" SSOAResource="Admin.Help.Topics" url="http://docs.SSOAcommerce.com/display/nc/SSOACommerce+Documentation?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=admin-panel" />
          <siteMapNode SystemName="Community forums" SSOAResource="Admin.Help.Forums" url="http://www.SSOAcommerce.com/boards/?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=admin-panel" />
          <siteMapNode SystemName="Premium support services" SSOAResource="Admin.Help.SupportServices" url="http://www.SSOAcommerce.com/p/541/SSOAcommerce-premium-support-services.aspx?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=admin-panel" />
        </siteMapNode>
      <siteMapNode SystemName="Third party plugins" SSOAResource="Admin.Plugins" />
    </siteMapNode>
</siteMap>

